---
import { Icon } from "astro-icon/components";
import Container from "./styled/container";
import { Heading } from "./styled/heading";
import { Button } from "./ui/button";
---

<Container id="contact" width="marginxy" client:visible>
  <Heading
    className="text-4xl font-bold text-center mb-10"
    size="xl"
    client:visible>Contact</Heading
  >
  <div class="space-y-3">
    <Heading size="sm" className="text-center mb-10">
      We look forward to hearing from you. Get in touch with us to book your
      stay.
    </Heading>
    <div class="flex justify-evenly">
      <!-- <span class="flex items-center">
        <Button variant="link" className="text-xl">
          <Icon
            name="mdi:location"
            class="w-6 h-6 hover:text-muted-foreground mr-2"
          />
          Roing, Arunachal Pradesh, India
        </Button>
      </span> -->

      <span class="flex items-center">
        <a href="tel:+919845632121">
          <Button variant="link" className="text-xl">
            <Icon
              name="mdi:phone"
              class="w-6 h-6 hover:text-muted-foreground mr-2"
            />
            +91 984 563 2121
          </Button>
        </a>
      </span>
      <span class="flex flex-col lg:flex-row items-center">
        <a href="mailto:booking@hillstoneresort.com">
          <Button variant="link" className="text-xl">
            <Icon
              name="mdi:email-outline"
              class="w-6 h-6 hover:text-muted-foreground mr-2"
            />
            booking@hillstoneresort.com
          </Button>
        </a>
      </span>
    </div>
  </div>
</Container>
