---
import { Icon } from "astro-icon/components";
import Container from "./styled/container";
import { Heading } from "./styled/heading";
---

<div class="bg-secondary">
  <Container id="directions" width="marginxy" client:visible>
    <Heading
      className="text-4xl font-bold text-center mb-10"
      size="xl"
      client:visible
    >
      Directions
    </Heading>
    <div class="grid grid-cols-2 place-content-center gap-8">
      <div class="space-y-5">
        <p class="text-justify">
          The Hill Stone resort is located just 2 kilometres away from the main Roing township of
          Lower Dibang Valley district, Arunachal Pradesh. One can easily reach
          Roing within two hours via Tinsukia and Dibrugarh town of Assam through
          National Highway no 115 either by car or bus. The Resort is placed
          exactly on banks of confluence between Eze River and Eme River which
          joins and becomes the mighty Eze River(Deopani).
        </p>
        <span class="flex gap-4">
          <Icon name="mdi:bus" class="h-6 w-6" />
          There are daily buses from Guwahati, Nagaon and Tezpur.
        </span>
        <span class="flex gap-4">
          <Icon name="mdi:train" class="h-6 w-6" />
          Closest Railway Station is Tinsukia Junction Railway Station (108 km).
        </span>
        <span class="flex gap-4">
          <Icon name="mdi:plane" class="h-6 w-6" />
          Closest Airport is Dibrugarh Airport (149 km).
        </span>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3554.2432061800623!2d95.84647164953417!3d28.15861636163169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373e49c5ab614a43%3A0x77d0e3b48fb46cfe!2sEze(Deopani)%20Bridge!5e1!3m2!1sen!2sin!4v1737971635623!5m2!1sen!2sin"
        width="640"
        height="480"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </Container>
</div>
